.popup__button-save{
  min-width: 358px;
  min-height: 50px;
  border: none;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.popup__button-save:hover{
  opacity: .8;
}

@media (max-width: 614px) {
  .popup__button-save{
    min-width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
    min-height: 46px;
  } 
}