.button-overlay{
    background-image: url("../../../images/avatar_edit_button.png");
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: .8s ease;
  }
  
  .button-overlay:hover {
    opacity: .8;
    background-color: #000;
  }
  