.header{
  margin: 0 200px 0 200px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

.header:not(:last-child){
  margin-bottom: 32px;
}

@media (max-width: 1024px) {
  .header {
    margin:0 150px 0 150px;
  }
}

@media (max-width: 768px) {
  .header {
    margin: 0 100px 0 100px;
  }
}

@media (max-width: 425px) {
  .header {
    margin:0 50px 0 50px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-top: 28px;
    margin: 0;
  }

  .header:not(:last-child){
    margin-bottom: 40px;
  }
}