.profile__content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 651px) {
  .profile__content {
    margin-bottom: 36px;
  }
}

@media (max-width: 501px) {
  .profile__content {
   justify-content: center;
   text-align: center;
  }
  
  @media (max-width: 651px) {
    .profile__content {
      margin-bottom: 34px;
    }
  }
}